.white-filter {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1581%) hue-rotate(215deg) brightness(118%) contrast(100%);
}

.logo-header img {
    height: 50px;
}

.portada {
    width: 90%;
    max-width: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.slogan {
    text-shadow: 2px 2px 2px #f17d00;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.2;
}

@media screen and (max-width: 736px) {

    .slogan {
        font-size: 30px;
    }
}

.logo-lineas-ropa {
    filter: brightness(0) saturate(100%) invert(29%) sepia(16%) saturate(3642%) hue-rotate(289deg) brightness(88%) contrast(89%);
    width: 80%;
    max-width: 600px;
}

a:link, a:visited {
  text-decoration: none !important;
}

.logo-ciguena {
    max-width: 300px;

}



/* Bolos grid */

.img-bolo {
	height: 300px !important;
    height: auto;
    object-fit: cover;
}



.image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.3em;
    text-align: center;
    max-width: 80%;
}


.orange:before {
    border: 4px solid #ef7d00;
    background-color: rgba(239, 125, 0, 0.5); /* #ef7d00 with 0.3 opacity */
}

.purple:before {
    border: 4px solid #ad4582;
    background-color: rgba(173, 69, 130, 0.5); /* #ef7d00 with 0.3 opacity */
}

